#! /bin/bash

set -e

# see http://docs.ceph.com/docs/master/install/manual-deployment/

# Create a keyring for your cluster and generate a monitor secret key
ceph-authtool --create-keyring {{ kube_storage_ceph_scriptdir }}/ceph.mon.keyring --gen-key \
  -n mon. --cap mon 'allow *'

# Generate an administrator keyring, generate a client.admin user and add the user to the keyring.
ceph-authtool --create-keyring {{ kube_storage_ceph_scriptdir }}/ceph.client.admin.keyring --gen-key \
  -n client.admin --set-uid=0 --cap mon 'allow *' --cap osd 'allow *' --cap mds 'allow *' --cap mgr 'allow *'

# Generate a bootstrap-osd keyring, generate a client.bootstrap-osd user and add the user to the keyring.
ceph-authtool --create-keyring {{ kube_storage_ceph_scriptdir }}/ceph.client.bootstrap-osd.keyring --gen-key \
  -n client.bootstrap-osd --cap mon 'profile bootstrap-osd'

# Add the generated keys to the ceph.mon.keyring.
ceph-authtool {{ kube_storage_ceph_scriptdir }}/ceph.mon.keyring \
  --import-keyring {{ kube_storage_ceph_scriptdir }}/ceph.client.admin.keyring
ceph-authtool {{ kube_storage_ceph_scriptdir }}/ceph.mon.keyring \
  --import-keyring {{ kube_storage_ceph_scriptdir }}/ceph.client.bootstrap-osd.keyring

# move the finished keyrings to their final places and set correct permissions so we can use monmaptool
# (ceph.mon.keyring stays for now, it will be handled in ceph-configure-monitor.sh)

mv {{ kube_storage_ceph_scriptdir }}/ceph.client.admin.keyring /etc/ceph/ceph.client.admin.keyring

mv {{ kube_storage_ceph_scriptdir }}/ceph.client.bootstrap-osd.keyring /var/lib/ceph/bootstrap-osd/ceph.keyring
chown ceph.ceph /var/lib/ceph/bootstrap-osd/ceph.keyring

touch {{ kube_storage_ceph_flagdir }}/ceph.keyrings.present
