[global]
fsid = {{ kube_storage_ceph_cluster_uuid }}

auth supported = cephx

auth cluster required = cephx
auth service required = cephx
auth client required = cephx

mon initial members = {{ groups['kube_ceph_monitors']|join(',') }}
mon host = {% for monitor in groups['kube_ceph_monitors'] -%}
{{ hostvars[monitor].internal_ip  }}:6789{% if not loop.last %},{% endif %}
{%- endfor %}

# Write an object n times
osd pool default size = 3
# Allow writing n copies in a degraded state
osd pool default min size = 2
