#! /bin/bash

set -e

# see http://docs.ceph.com/docs/master/install/manual-deployment/

# part 2

# Put the keys in place so we can use monmaptool
mv /tmp/ceph.client.admin.keyring /etc/ceph/ceph.client.admin.keyring
mv /tmp/ceph.client.bootstrap-osd.keyring /var/lib/ceph/bootstrap-osd/ceph.keyring

# todo - what are the right permissions? does ceph need to change these?
chown ceph.ceph /var/lib/ceph/bootstrap-osd/ceph.keyring
chown ceph.ceph /tmp/ceph.mon.keyring

# Generate a monitor map using the hostname(s), host IP address(es) and the FSID. Save it as /tmp/monmap
monmaptool --create --add {{ ansible_hostname }} {{ hostvars[ansible_hostname].internal_ip }} --fsid {{ kube_storage_ceph_cluster_uuid }} /tmp/monmap

# Create a default data directory (or directories) on the monitor host(s)
sudo -u ceph mkdir /var/lib/ceph/mon/{{ kube_storage_ceph_cluster_name }}-{{ ansible_hostname }}

# Populate the monitor daemon(s) with the monitor map and keyring
sudo -u ceph ceph-mon --cluster {{ kube_storage_ceph_cluster_name }} \
  --mkfs --id {{ ansible_hostname }} --monmap /tmp/monmap --keyring /tmp/ceph.mon.keyring

# touch the done file to mark that the monitor is created and ready to be started
touch /var/lib/ceph/mon/{{ kube_storage_ceph_cluster_name }}-{{ ansible_hostname }}/done

# can now start it using
# systemctl start ceph-mon@kube3
