[ceph]
name=Ceph packages for $basearch
baseurl={{ kube_storage_ceph_repo_baseurl }}/rpm-{{ kube_storage_ceph_release }}/{{ distro }}/$basearch
enabled=1
priority=2
gpgcheck=1
gpgkey=https://download.ceph.com/keys/release.asc

[ceph-noarch]
name=Ceph noarch packages
baseurl={{ kube_storage_ceph_repo_baseurl }}/rpm-{{ kube_storage_ceph_release }}/{{ distro }}/noarch
enabled=1
priority=2
gpgcheck=1
gpgkey=https://download.ceph.com/keys/release.asc

[ceph-source]
name=Ceph source packages
baseurl={{ kube_storage_ceph_repo_baseurl }}/rpm-{{ kube_storage_ceph_release }}/{{ distro }}/SRPMS
enabled=0
priority=2
gpgcheck=1
gpgkey=https://download.ceph.com/keys/release.asc
