127.0.0.1       localhost localhost. localhost.{{ kube_domain }} localhost.{{ kube_domain }}.

{% for host in groups["all"] %}
{{ hostvars[host].internal_ip }}	{{ host }}.{{ kube_domain }} {{ host }}
{% endfor %}
