#
# General Settings
#

# debug mode
#no-daemon

# only listen on this interface
listen-address={{ internal_ip }}
bind-interfaces

#
# DHCP settings
#

# note: the IP range is actually ignored because of the "static" option
dhcp-range={{ kube_networks.internal.dhcp_min }},static,{{ kube_networks.internal.netmask }}
dhcp-hostsfile=/opt/dnsmasq/etc/dhcp-hosts
dhcp-option=option:domain-name,{{ kube_networks.internal.domain }}
dhcp-option=option:bootfile-name,BOOTX64.EFI
dhcp-leasefile=/opt/dnsmasq/var/dhcp_leases

#
# TFTP settings
#

enable-tftp
tftp-root=/opt/dnsmasq/tftp/
tftp-unique-root
tftp-secure
tftp-lowercase

#
# DNS settings
#

domain={{ kube_networks.internal.domain }}

# query all upstream DNS servers simultanously
all-servers

# provide an MX record. Default is to annouce this host on which dnsmasq runs
mx-host=rubix.{{ kube_networks.internal.domain }}

# define which local host names to resolve
no-hosts
hostsdir=/opt/dnsmasq/local_hosts/
resolv-file=/opt/dnsmasq/etc/resolv.conf
