#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
text
install
url --url http://{{ hostvars["rubix"].internal_ip }}/pxe/centos/
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate --noipv6

# Root password
rootpw --lock
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc
user --groups=wheel --name=ansible --password={{ kube_crypted_ansible_password }} --iscrypted --gecos="Ansible Automation"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
#autopart --type=lvm --noswap --nohome
# Partition clearing information
clearpart --all --drives=sda --initlabel
part /boot --type=xfs --size=1000
part /boot/efi --type=vfat --size=200
part / --type=xfs --grow

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

eula --agreed
reboot

%post
mkdir -m0700 /home/ansible/.ssh/
chown ansible:ansible /home/ansible/.ssh
cat <<EOF >/home/ansible/.ssh/authorized_keys
{% for key in kube_accounts_userlist|map(attribute="ssh_key")|list %}
{{ key }}
{% endfor %}
EOF
chmod 600 /home/ansible/.ssh/authorized_keys
chown ansible:ansible /home/ansible/.ssh/authorized_keys
# enable password-less sudo
echo "ansible ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/010_ansible-nopasswd
# fix selinux context
restorecon -R /home/ansible/.ssh
# disable SELinux
echo "SELINUX=disabled" > /etc/selinux/config
%end

